[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/leogabac/leovim.git
[submodule "nvim/.config/hakovim"]
	path = nvim/.config/hakovim
	url = https://github.com/leogabac/hakovim.git
